#contactsViewCard{
    display: grid;
    grid-template-areas: 
    "contactName contactEnterprise contactCallSign contactFlag contactBtn"
    "contactEmail contactEmail contactEmail contactEmail contactBtn"
    ;
    width: 100%;
    margin-bottom: 15px;
    background-color:  #DADEDF;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    padding: 5px 20px;
    color: black;
    font-weight: 600;
    
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.24);
    
    &:nth-child(1){
        margin-top: 15px;
    }
    &:nth-child(2n - 1){
        background-color: #A7AFB2;
        background-color: #b8bdbf;

    }
}
header{
    color: white;
    background-color: #3B38C6;
    i{
        color: white;
        padding: 0 20px;
        font-size: 24px;
    }
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0;

    h2 span{
        font-size: 16px;
    }
}
.contactsView-name{
    grid-area: contactName;
}
.contactsView-enterprise{
    grid-area: contactEnterprise;
}
.contactsView-email{
    grid-area: contactEmail;
    span{
        color: #777777;
    }
}
.contactsView-callSign{
    grid-area: contactCallSign;
}
.contactsView-flag{
    grid-area: contactFlag;
}
.contactsView-btn{
    grid-area: contactBtn;
    display: flex;
    justify-content: right;
    align-items: center;
    
    i{
        padding: 0 10px;
        color: #3B38C6;
        cursor: pointer;
        transition: all 400ms ease;
        &:hover{
            transform: translateY(-3px);
        }
        &:last-child{
            color: #DB0035;
        }
    }
}

.paginateBtn{
    display: flex;
    justify-content: center;
    font-size: 24px;
    p{
        margin: 0 20px;
        user-select: none;
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: #777777;
        user-select: none;
        font-size: 22px;
        margin: auto 0;
    }
}

.searchCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
        display: flex;
        align-items: center;
    }
    input{
        border-radius: 15px;
        width: 300px;
        padding: 4px;
    }
}