*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    height: calc(100vh - 70px);
    background-color: #F0F0F0;
    padding: 10px 50px;
    display: grid;
    grid-template-areas: 
    "alert"
    "flujo"
    ;
    grid-template-rows: 2fr 8fr;
    grid-gap: 10px;
}
.alertCont{
    grid-area: alert;
    border:1px dashed #a4a4a4;
    border-radius: 10px;
}

.flujoCont{
    grid-area: flujo    ;
}
